# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/modules/Create-The_Factory_Must_Grow.main.iml
/.idea/modules/Create-The_Factory_Must_Grow.test.iml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/run/config/jei/world/local/New_World__1/bookmarks.ini
/run/config/jei/blacklist.cfg
/run/config/jei/ingredient-list-mod-sort-order.ini
/run/config/jei/ingredient-list-type-sort-order.ini
/run/config/jei/jei-client.ini
/run/config/jei/jei-colors.ini
/run/config/jei/jei-debug.ini
/run/config/jei/jei-mod-id-format.ini
/run/config/jei/recipe-category-sort-order.ini
/run/config/valkyrienskies/schemas/vs_client.schema.json
/run/config/valkyrienskies/schemas/vs_common.schema.json
/run/config/valkyrienskies/schemas/vs_core_server.schema.json
/run/config/valkyrienskies/schemas/vs_server.schema.json
/run/config/valkyrienskies/vs_client.json
/run/config/valkyrienskies/vs_common.json
/run/config/valkyrienskies/vs_core_server.json
/run/config/valkyrienskies/vs_server.json
/run/config/create-client.toml
/run/config/create-common.toml
/run/config/flywheel-client.toml
/run/config/fml.toml
/run/config/forge-client.toml
/run/config/ponder-client.toml
/run/config/tfmg-common.toml
/run/crash-reports/crash-2025-03-08_19.30.31-server.txt
/run/crash-reports/crash-2025-03-08_19.34.06-server.txt
/run/crash-reports/crash-2025-03-14_17.35.42-server.txt
/run/crash-reports/crash-2025-03-14_17.40.27-server.txt
/run/crash-reports/crash-2025-03-14_17.44.35-client.txt
/run/crash-reports/crash-2025-03-14_17.53.16-client.txt
/run/crash-reports/crash-2025-03-18_17.51.57-server.txt
/run/crash-reports/crash-2025-03-18_17.51.59-client.txt
/run/crash-reports/crash-2025-03-18_18.35.35-client.txt
/run/crash-reports/crash-2025-03-18_20.28.42-fml.txt
/run/crash-reports/crash-2025-03-19_20.46.36-client.txt
/run/crash-reports/crash-2025-03-19_21.08.06-server.txt
/run/crash-reports/crash-2025-03-24_15.30.11-server.txt
/run/logs/2025-03-01-2.log.gz
/run/logs/2025-03-01-3.log.gz
/run/logs/2025-03-02-2.log.gz
/run/logs/2025-03-02-3.log.gz
/run/logs/2025-03-02-4.log.gz
/run/logs/2025-03-02-5.log.gz
/run/logs/2025-03-02-6.log.gz
/run/logs/2025-03-02-7.log.gz
/run/logs/2025-03-02-8.log.gz
/run/logs/2025-03-03-2.log.gz
/run/logs/2025-03-03-3.log.gz
/run/logs/2025-03-03-4.log.gz
/run/logs/2025-03-03-5.log.gz
/run/logs/2025-03-03-6.log.gz
/run/logs/2025-03-03-7.log.gz
/run/logs/2025-03-03-8.log.gz
/run/logs/2025-03-03-9.log.gz
/run/logs/2025-03-03-10.log.gz
/run/logs/2025-03-03-11.log.gz
/run/logs/2025-03-03-12.log.gz
/run/logs/2025-03-03-13.log.gz
/run/logs/2025-03-03-14.log.gz
/run/logs/2025-03-03-15.log.gz
/run/logs/2025-03-03-16.log.gz
/run/logs/2025-03-03-17.log.gz
/run/logs/2025-03-03-18.log.gz
/run/logs/2025-03-03-19.log.gz
/run/logs/2025-03-03-20.log.gz
/run/logs/2025-03-03-21.log.gz
/run/logs/2025-03-03-22.log.gz
/run/logs/2025-03-03-23.log.gz
/run/logs/2025-03-03-24.log.gz
/run/logs/2025-03-03-25.log.gz
/run/logs/2025-03-03-26.log.gz
/run/logs/2025-03-03-27.log.gz
/run/logs/2025-03-03-28.log.gz
/run/logs/2025-03-03-29.log.gz
/run/logs/2025-03-03-30.log.gz
/run/logs/2025-03-03-31.log.gz
/run/logs/2025-03-03-32.log.gz
/run/logs/2025-03-03-33.log.gz
/run/logs/2025-03-03-34.log.gz
/run/logs/2025-03-03-35.log.gz
/run/logs/2025-03-03-36.log.gz
/run/logs/2025-03-03-37.log.gz
/run/logs/2025-03-03-38.log.gz
/run/logs/2025-03-03-39.log.gz
/run/logs/2025-03-05-2.log.gz
/run/logs/2025-03-05-3.log.gz
/run/logs/2025-03-05-4.log.gz
/run/logs/2025-03-05-5.log.gz
/run/logs/2025-03-05-6.log.gz
/run/logs/2025-03-05-7.log.gz
/run/logs/2025-03-05-8.log.gz
/run/logs/2025-03-06-2.log.gz
/run/logs/2025-03-06-3.log.gz
/run/logs/2025-03-06-4.log.gz
/run/logs/2025-03-06-5.log.gz
/run/logs/2025-03-06-6.log.gz
/run/logs/2025-03-07-2.log.gz
/run/logs/2025-03-07-3.log.gz
/run/logs/2025-03-07-4.log.gz
/run/logs/2025-03-07-5.log.gz
/run/logs/2025-03-07-6.log.gz
/run/logs/2025-03-08-1.log.gz
/run/logs/2025-03-08-2.log.gz
/run/logs/2025-03-08-3.log.gz
/run/logs/2025-03-08-4.log.gz
/run/logs/2025-03-08-5.log.gz
/run/logs/2025-03-08-6.log.gz
/run/logs/2025-03-08-7.log.gz
/run/logs/2025-03-08-8.log.gz
/run/logs/2025-03-08-9.log.gz
/run/logs/2025-03-08-10.log.gz
/run/logs/2025-03-08-11.log.gz
/run/logs/2025-03-08-12.log.gz
/run/logs/2025-03-08-13.log.gz
/run/logs/2025-03-08-14.log.gz
/run/logs/2025-03-08-15.log.gz
/run/logs/2025-03-08-16.log.gz
/run/logs/2025-03-08-17.log.gz
/run/logs/2025-03-08-18.log.gz
/run/logs/2025-03-08-19.log.gz
/run/logs/2025-03-08-20.log.gz
/run/logs/2025-03-08-21.log.gz
/run/logs/2025-03-08-22.log.gz
/run/logs/2025-03-08-23.log.gz
/run/logs/2025-03-08-24.log.gz
/run/logs/2025-03-08-25.log.gz
/run/logs/2025-03-08-26.log.gz
/run/logs/2025-03-08-27.log.gz
/run/logs/2025-03-08-28.log.gz
/run/logs/2025-03-08-29.log.gz
/run/logs/2025-03-08-30.log.gz
/run/logs/2025-03-08-31.log.gz
/run/logs/2025-03-09-2.log.gz
/run/logs/2025-03-14-2.log.gz
/run/logs/2025-03-14-3.log.gz
/run/logs/2025-03-14-4.log.gz
/run/logs/2025-03-14-5.log.gz
/run/logs/2025-03-14-6.log.gz
/run/logs/2025-03-14-7.log.gz
/run/logs/2025-03-14-8.log.gz
/run/logs/2025-03-14-9.log.gz
/run/logs/2025-03-14-10.log.gz
/run/logs/2025-03-14-11.log.gz
/run/logs/2025-03-14-12.log.gz
/run/logs/2025-03-14-13.log.gz
/run/logs/2025-03-14-14.log.gz
/run/logs/2025-03-14-15.log.gz
/run/logs/2025-03-14-16.log.gz
/run/logs/2025-03-14-17.log.gz
/run/logs/2025-03-14-18.log.gz
/run/logs/2025-03-14-19.log.gz
/run/logs/2025-03-14-20.log.gz
/run/logs/2025-03-15-2.log.gz
/run/logs/2025-03-15-3.log.gz
/run/logs/2025-03-15-4.log.gz
/run/logs/2025-03-15-5.log.gz
/run/logs/2025-03-15-6.log.gz
/run/logs/2025-03-15-7.log.gz
/run/logs/2025-03-15-8.log.gz
/run/logs/2025-03-15-9.log.gz
/run/logs/2025-03-15-10.log.gz
/run/logs/2025-03-15-11.log.gz
/run/logs/2025-03-15-12.log.gz
/run/logs/2025-03-15-13.log.gz
/run/logs/2025-03-15-14.log.gz
/run/logs/2025-03-17-2.log.gz
/run/logs/2025-03-17-3.log.gz
/run/logs/2025-03-17-4.log.gz
/run/logs/2025-03-17-5.log.gz
/run/logs/2025-03-17-6.log.gz
/run/logs/2025-03-17-7.log.gz
/run/logs/2025-03-17-8.log.gz
/run/logs/2025-03-17-9.log.gz
/run/logs/2025-03-18-2.log.gz
/run/logs/2025-03-18-3.log.gz
/run/logs/2025-03-18-4.log.gz
/run/logs/2025-03-18-5.log.gz
/run/logs/2025-03-18-6.log.gz
/run/logs/2025-03-18-7.log.gz
/run/logs/2025-03-18-8.log.gz
/run/logs/2025-03-18-9.log.gz
/run/logs/2025-03-18-10.log.gz
/run/logs/2025-03-18-11.log.gz
/run/logs/2025-03-18-12.log.gz
/run/logs/2025-03-18-13.log.gz
/run/logs/2025-03-18-14.log.gz
/run/logs/2025-03-18-15.log.gz
/run/logs/2025-03-18-16.log.gz
/run/logs/2025-03-18-17.log.gz
/run/logs/2025-03-18-18.log.gz
/run/logs/2025-03-18-19.log.gz
/run/logs/2025-03-18-20.log.gz
/run/logs/2025-03-18-21.log.gz
/run/logs/2025-03-18-22.log.gz
/run/logs/2025-03-18-23.log.gz
/run/logs/2025-03-18-24.log.gz
/run/logs/2025-03-18-25.log.gz
/run/logs/2025-03-18-26.log.gz
/run/logs/2025-03-18-27.log.gz
/run/logs/2025-03-18-28.log.gz
/run/logs/2025-03-18-29.log.gz
/run/logs/2025-03-18-30.log.gz
/run/logs/2025-03-18-31.log.gz
/run/logs/2025-03-18-32.log.gz
/run/logs/2025-03-18-33.log.gz
/run/logs/2025-03-18-34.log.gz
/run/logs/2025-03-18-35.log.gz
/run/logs/2025-03-18-36.log.gz
/run/logs/2025-03-18-37.log.gz
/run/logs/2025-03-18-38.log.gz
/run/logs/2025-03-18-39.log.gz
/run/logs/2025-03-18-40.log.gz
/run/logs/2025-03-18-41.log.gz
/run/logs/2025-03-18-42.log.gz
/run/logs/2025-03-18-43.log.gz
/run/logs/2025-03-18-44.log.gz
/run/logs/2025-03-18-45.log.gz
/run/logs/2025-03-18-46.log.gz
/run/logs/2025-03-18-47.log.gz
/run/logs/2025-03-18-48.log.gz
/run/logs/2025-03-18-49.log.gz
/run/logs/2025-03-18-50.log.gz
/run/logs/2025-03-18-51.log.gz
/run/logs/2025-03-18-52.log.gz
/run/logs/2025-03-18-53.log.gz
/run/logs/2025-03-18-54.log.gz
/run/logs/2025-03-18-55.log.gz
/run/logs/2025-03-18-56.log.gz
/run/logs/2025-03-18-57.log.gz
/run/logs/2025-03-19-2.log.gz
/run/logs/2025-03-19-3.log.gz
/run/logs/2025-03-19-4.log.gz
/run/logs/2025-03-19-5.log.gz
/run/logs/2025-03-19-6.log.gz
/run/logs/2025-03-19-7.log.gz
/run/logs/2025-03-19-8.log.gz
/run/logs/2025-03-19-9.log.gz
/run/logs/2025-03-19-10.log.gz
/run/logs/2025-03-19-11.log.gz
/run/logs/2025-03-19-12.log.gz
/run/logs/2025-03-19-13.log.gz
/run/logs/2025-03-19-14.log.gz
/run/logs/2025-03-19-15.log.gz
/run/logs/2025-03-19-16.log.gz
/run/logs/2025-03-19-17.log.gz
/run/logs/2025-03-19-18.log.gz
/run/logs/2025-03-19-19.log.gz
/run/logs/2025-03-19-20.log.gz
/run/logs/2025-03-19-21.log.gz
/run/logs/2025-03-19-22.log.gz
/run/logs/2025-03-19-23.log.gz
/run/logs/2025-03-19-24.log.gz
/run/logs/2025-03-19-25.log.gz
/run/logs/2025-03-19-26.log.gz
/run/logs/2025-03-19-27.log.gz
/run/logs/2025-03-19-28.log.gz
/run/logs/2025-03-19-29.log.gz
/run/logs/2025-03-19-30.log.gz
/run/logs/2025-03-19-31.log.gz
/run/logs/2025-03-19-32.log.gz
/run/logs/2025-03-19-33.log.gz
/run/logs/2025-03-19-34.log.gz
/run/logs/2025-03-19-35.log.gz
/run/logs/2025-03-19-36.log.gz
/run/logs/2025-03-19-37.log.gz
/run/logs/2025-03-19-38.log.gz
/run/logs/2025-03-19-39.log.gz
/run/logs/2025-03-19-40.log.gz
/run/logs/2025-03-19-41.log.gz
/run/logs/2025-03-19-42.log.gz
/run/logs/2025-03-19-43.log.gz
/run/logs/2025-03-19-44.log.gz
/run/logs/2025-03-19-45.log.gz
/run/logs/2025-03-19-46.log.gz
/run/logs/2025-03-19-47.log.gz
/run/logs/2025-03-19-48.log.gz
/run/logs/2025-03-19-49.log.gz
/run/logs/2025-03-19-50.log.gz
/run/logs/2025-03-19-51.log.gz
/run/logs/2025-03-22-2.log.gz
/run/logs/2025-03-22-3.log.gz
/run/logs/2025-03-22-4.log.gz
/run/logs/2025-03-23-2.log.gz
/run/logs/2025-03-23-3.log.gz
/run/logs/2025-03-23-4.log.gz
/run/logs/2025-03-23-5.log.gz
/run/logs/2025-03-23-6.log.gz
/run/logs/2025-03-23-7.log.gz
/run/logs/2025-03-23-8.log.gz
/run/logs/2025-03-23-9.log.gz
/run/logs/2025-03-23-10.log.gz
/run/logs/2025-03-24-2.log.gz
/run/logs/2025-03-24-3.log.gz
/run/logs/2025-03-24-4.log.gz
/run/logs/2025-03-24-5.log.gz
/run/logs/2025-03-24-6.log.gz
/run/logs/2025-03-24-7.log.gz
/run/logs/2025-03-24-8.log.gz
/run/logs/2025-03-24-9.log.gz
/run/logs/2025-03-24-10.log.gz
/run/logs/2025-03-24-11.log.gz
/run/logs/2025-03-24-12.log.gz
/run/logs/2025-03-24-13.log.gz
/run/logs/2025-03-24-14.log.gz
/run/logs/2025-03-24-15.log.gz
/run/logs/2025-03-24-16.log.gz
/run/logs/2025-03-27-2.log.gz
/run/logs/2025-03-29-1.log.gz
/run/logs/debug.log
/run/logs/debug-1.log.gz
/run/logs/debug-2.log.gz
/run/logs/debug-3.log.gz
/run/logs/debug-4.log.gz
/run/logs/debug-5.log.gz
/run/logs/latest.log
/run/saves/New World (1)/advancements/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World (1)/data/create_logistics.dat
/run/saves/New World (1)/data/create_logistics.dat_old
/run/saves/New World (1)/data/raids.dat
/run/saves/New World (1)/data/random_sequences.dat
/run/saves/New World (1)/data/tfmg_deposits.dat
/run/saves/New World (1)/DIM1/data/capabilities.dat
/run/saves/New World (1)/DIM1/data/raids_end.dat
/run/saves/New World (1)/DIM-1/data/capabilities.dat
/run/saves/New World (1)/DIM-1/data/raids.dat
/run/saves/New World (1)/entities/r.13.0.mca
/run/saves/New World (1)/entities/r.13.1.mca
/run/saves/New World (1)/entities/r.13.102.mca
/run/saves/New World (1)/entities/r.13.103.mca
/run/saves/New World (1)/entities/r.14.0.mca
/run/saves/New World (1)/entities/r.14.1.mca
/run/saves/New World (1)/entities/r.14.102.mca
/run/saves/New World (1)/entities/r.14.103.mca
/run/saves/New World (1)/entities/r.14.-2.mca
/run/saves/New World (1)/entities/r.14.-3.mca
/run/saves/New World (1)/entities/r.15.-2.mca
/run/saves/New World (1)/entities/r.15.-3.mca
/run/saves/New World (1)/entities/r.19.97.mca
/run/saves/New World (1)/entities/r.194.0.mca
/run/saves/New World (1)/entities/r.194.-1.mca
/run/saves/New World (1)/entities/r.194.-2.mca
/run/saves/New World (1)/entities/r.195.0.mca
/run/saves/New World (1)/entities/r.195.193.mca
/run/saves/New World (1)/entities/r.195.194.mca
/run/saves/New World (1)/entities/r.195.195.mca
/run/saves/New World (1)/entities/r.195.-1.mca
/run/saves/New World (1)/entities/r.195.-2.mca
/run/saves/New World (1)/entities/r.196.193.mca
/run/saves/New World (1)/entities/r.196.194.mca
/run/saves/New World (1)/entities/r.199.3.mca
/run/saves/New World (1)/entities/r.199.4.mca
/run/saves/New World (1)/entities/r.200.3.mca
/run/saves/New World (1)/entities/r.200.4.mca
/run/saves/New World (1)/entities/r.-1.-1.mca
/run/saves/New World (1)/entities/r.-6.174.mca
/run/saves/New World (1)/entities/r.-6.175.mca
/run/saves/New World (1)/entities/r.-6.176.mca
/run/saves/New World (1)/entities/r.-6.-3.mca
/run/saves/New World (1)/entities/r.-6.-4.mca
/run/saves/New World (1)/entities/r.-7.173.mca
/run/saves/New World (1)/entities/r.-7.174.mca
/run/saves/New World (1)/entities/r.-7.175.mca
/run/saves/New World (1)/entities/r.-7.176.mca
/run/saves/New World (1)/entities/r.-7.-3.mca
/run/saves/New World (1)/entities/r.-7.-4.mca
/run/saves/New World (1)/entities/r.-8.173.mca
/run/saves/New World (1)/entities/r.-8.174.mca
/run/saves/New World (1)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
/run/saves/New World (1)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
/run/saves/New World (1)/poi/r.14.1.mca
/run/saves/New World (1)/poi/r.14.-2.mca
/run/saves/New World (1)/poi/r.14.-3.mca
/run/saves/New World (1)/poi/r.15.-2.mca
/run/saves/New World (1)/poi/r.15.-3.mca
/run/saves/New World (1)/poi/r.19.97.mca
/run/saves/New World (1)/poi/r.194.0.mca
/run/saves/New World (1)/poi/r.194.-1.mca
/run/saves/New World (1)/poi/r.194.-2.mca
/run/saves/New World (1)/poi/r.195.193.mca
/run/saves/New World (1)/poi/r.195.-1.mca
/run/saves/New World (1)/poi/r.195.-2.mca
/run/saves/New World (1)/poi/r.199.3.mca
/run/saves/New World (1)/poi/r.199.4.mca
/run/saves/New World (1)/poi/r.200.3.mca
/run/saves/New World (1)/poi/r.200.4.mca
/run/saves/New World (1)/poi/r.-6.174.mca
/run/saves/New World (1)/poi/r.-6.175.mca
/run/saves/New World (1)/poi/r.-6.176.mca
/run/saves/New World (1)/poi/r.-7.173.mca
/run/saves/New World (1)/poi/r.-7.174.mca
/run/saves/New World (1)/poi/r.-7.175.mca
/run/saves/New World (1)/poi/r.-7.176.mca
/run/saves/New World (1)/poi/r.-7.-3.mca
/run/saves/New World (1)/poi/r.-8.173.mca
/run/saves/New World (1)/poi/r.-8.174.mca
/run/saves/New World (1)/region/r.0.0.mca
/run/saves/New World (1)/region/r.0.-1.mca
/run/saves/New World (1)/region/r.13.0.mca
/run/saves/New World (1)/region/r.13.1.mca
/run/saves/New World (1)/region/r.13.102.mca
/run/saves/New World (1)/region/r.13.103.mca
/run/saves/New World (1)/region/r.14.0.mca
/run/saves/New World (1)/region/r.14.1.mca
/run/saves/New World (1)/region/r.14.102.mca
/run/saves/New World (1)/region/r.14.103.mca
/run/saves/New World (1)/region/r.14.-2.mca
/run/saves/New World (1)/region/r.14.-3.mca
/run/saves/New World (1)/region/r.15.-2.mca
/run/saves/New World (1)/region/r.15.-3.mca
/run/saves/New World (1)/region/r.18.97.mca
/run/saves/New World (1)/region/r.18.98.mca
/run/saves/New World (1)/region/r.19.97.mca
/run/saves/New World (1)/region/r.19.98.mca
/run/saves/New World (1)/region/r.20.97.mca
/run/saves/New World (1)/region/r.20.98.mca
/run/saves/New World (1)/region/r.193.-1.mca
/run/saves/New World (1)/region/r.193.-2.mca
/run/saves/New World (1)/region/r.194.0.mca
/run/saves/New World (1)/region/r.194.194.mca
/run/saves/New World (1)/region/r.194.195.mca
/run/saves/New World (1)/region/r.194.-1.mca
/run/saves/New World (1)/region/r.194.-2.mca
/run/saves/New World (1)/region/r.195.0.mca
/run/saves/New World (1)/region/r.195.192.mca
/run/saves/New World (1)/region/r.195.193.mca
/run/saves/New World (1)/region/r.195.194.mca
/run/saves/New World (1)/region/r.195.195.mca
/run/saves/New World (1)/region/r.195.-1.mca
/run/saves/New World (1)/region/r.195.-2.mca
/run/saves/New World (1)/region/r.196.192.mca
/run/saves/New World (1)/region/r.196.193.mca
/run/saves/New World (1)/region/r.196.194.mca
/run/saves/New World (1)/region/r.199.3.mca
/run/saves/New World (1)/region/r.199.4.mca
/run/saves/New World (1)/region/r.200.3.mca
/run/saves/New World (1)/region/r.200.4.mca
/run/saves/New World (1)/region/r.-1.0.mca
/run/saves/New World (1)/region/r.-1.-1.mca
/run/saves/New World (1)/region/r.-6.173.mca
/run/saves/New World (1)/region/r.-6.174.mca
/run/saves/New World (1)/region/r.-6.175.mca
/run/saves/New World (1)/region/r.-6.176.mca
/run/saves/New World (1)/region/r.-6.-3.mca
/run/saves/New World (1)/region/r.-6.-4.mca
/run/saves/New World (1)/region/r.-7.173.mca
/run/saves/New World (1)/region/r.-7.174.mca
/run/saves/New World (1)/region/r.-7.175.mca
/run/saves/New World (1)/region/r.-7.176.mca
/run/saves/New World (1)/region/r.-7.-3.mca
/run/saves/New World (1)/region/r.-7.-4.mca
/run/saves/New World (1)/region/r.-8.173.mca
/run/saves/New World (1)/region/r.-8.174.mca
/run/saves/New World (1)/region/r.-8.175.mca
/run/saves/New World (1)/serverconfig/create-server.toml
/run/saves/New World (1)/serverconfig/forge-server.toml
/run/saves/New World (1)/serverconfig/jei-server.toml
/run/saves/New World (1)/serverconfig/tfmg-server.toml
/run/saves/New World (1)/stats/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World (1)/level.dat
/run/saves/New World (1)/level.dat_old
/run/saves/New World (2)/advancements/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World (2)/data/capabilities.dat
/run/saves/New World (2)/data/raids.dat
/run/saves/New World (2)/data/random_sequences.dat
/run/saves/New World (2)/DIM1/data/capabilities.dat
/run/saves/New World (2)/DIM1/data/raids_end.dat
/run/saves/New World (2)/DIM-1/data/capabilities.dat
/run/saves/New World (2)/DIM-1/data/raids.dat
/run/saves/New World (2)/entities/r.0.0.mca
/run/saves/New World (2)/entities/r.0.-1.mca
/run/saves/New World (2)/entities/r.-1.0.mca
/run/saves/New World (2)/entities/r.-1.-1.mca
/run/saves/New World (2)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
/run/saves/New World (2)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
/run/saves/New World (2)/poi/r.0.0.mca
/run/saves/New World (2)/poi/r.0.-1.mca
/run/saves/New World (2)/poi/r.-1.0.mca
/run/saves/New World (2)/poi/r.-1.-1.mca
/run/saves/New World (2)/region/r.0.0.mca
/run/saves/New World (2)/region/r.0.-1.mca
/run/saves/New World (2)/region/r.-1.0.mca
/run/saves/New World (2)/region/r.-1.-1.mca
/run/saves/New World (2)/serverconfig/create-server.toml
/run/saves/New World (2)/serverconfig/forge-server.toml
/run/saves/New World (2)/serverconfig/jei-server.toml
/run/saves/New World (2)/serverconfig/tfmg-server.toml
/run/saves/New World (2)/stats/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World (2)/icon.png
/run/saves/New World (2)/level.dat
/run/saves/New World (2)/level.dat_old
/run/saves/New World (2)/session.lock
/run/screenshots/2025-03-03_16.40.07.png
/run/screenshots/2025-03-03_19.21.34.png
/run/screenshots/2025-03-03_21.15.58.png
/run/screenshots/2025-03-06_21.07.22.png
/run/screenshots/2025-03-07_18.30.25.png
/run/screenshots/2025-03-07_18.30.53.png
/run/screenshots/2025-03-07_18.34.53.png
/run/screenshots/2025-03-07_18.53.04.png
/run/screenshots/2025-03-07_18.55.09.png
/run/screenshots/2025-03-08_23.05.15.png
/run/screenshots/2025-03-08_23.08.00.png
/run/screenshots/2025-03-08_23.21.41.png
/run/screenshots/2025-03-08_23.24.04.png
/run/screenshots/2025-03-14_21.51.56.png
/run/screenshots/2025-03-14_21.53.41.png
/run/screenshots/2025-03-14_21.57.15.png
/run/screenshots/2025-03-15_11.10.01.png
/run/screenshots/2025-03-15_11.11.27.png
/run/screenshots/2025-03-15_11.22.03.png
/run/screenshots/2025-03-15_11.23.13.png
/run/screenshots/2025-03-15_11.31.56.png
/run/screenshots/2025-03-15_16.05.49.png
/run/screenshots/2025-03-17_19.19.55.png
/run/screenshots/2025-03-17_21.22.15.png
/run/screenshots/2025-03-19_20.46.20.png
/run/screenshots/2025-03-19_20.55.47.png
/run/screenshots/2025-03-19_21.21.00.png
/run/screenshots/2025-03-24_17.02.03.png
/run/screenshots/2025-03-24_17.02.09.png
/run/screenshots/2025-03-24_17.03.24.png
/run/options.txt
/run/usercache.json
/run/usernamecache.json
/run-data/config/jei/jei-client.ini
/run-data/config/jei/jei-colors.ini
/run-data/config/jei/jei-debug.ini
/run-data/config/jei/jei-mod-id-format.ini
/run-data/config/createaddition-common.toml
/run-data/config/fml.toml
/run-data/logs/2025-02-28-2.log.gz
/run-data/logs/2025-03-02-2.log.gz
/run-data/logs/2025-03-02-3.log.gz
/run-data/logs/2025-03-02-4.log.gz
/run-data/logs/2025-03-02-5.log.gz
/run-data/logs/2025-03-02-6.log.gz
/run-data/logs/2025-03-02-7.log.gz
/run-data/logs/2025-03-02-8.log.gz
/run-data/logs/2025-03-02-9.log.gz
/run-data/logs/2025-03-02-10.log.gz
/run-data/logs/2025-03-02-11.log.gz
/run-data/logs/2025-03-02-12.log.gz
/run-data/logs/2025-03-02-13.log.gz
/run-data/logs/2025-03-02-14.log.gz
/run-data/logs/2025-03-02-15.log.gz
/run-data/logs/2025-03-02-16.log.gz
/run-data/logs/2025-03-02-17.log.gz
/run-data/logs/2025-03-02-18.log.gz
/run-data/logs/2025-03-02-19.log.gz
/run-data/logs/2025-03-02-20.log.gz
/run-data/logs/2025-03-02-21.log.gz
/run-data/logs/2025-03-02-22.log.gz
/run-data/logs/2025-03-02-23.log.gz
/run-data/logs/2025-03-02-24.log.gz
/run-data/logs/2025-03-02-25.log.gz
/run-data/logs/2025-03-02-26.log.gz
/run-data/logs/2025-03-02-27.log.gz
/run-data/logs/2025-03-02-28.log.gz
/run-data/logs/2025-03-02-29.log.gz
/run-data/logs/2025-03-02-30.log.gz
/run-data/logs/2025-03-02-31.log.gz
/run-data/logs/2025-03-02-32.log.gz
/run-data/logs/2025-03-02-33.log.gz
/run-data/logs/2025-03-02-34.log.gz
/run-data/logs/2025-03-02-35.log.gz
/run-data/logs/2025-03-02-36.log.gz
/run-data/logs/2025-03-02-37.log.gz
/run-data/logs/2025-03-02-38.log.gz
/run-data/logs/2025-03-02-39.log.gz
/run-data/logs/2025-03-02-40.log.gz
/run-data/logs/2025-03-02-41.log.gz
/run-data/logs/2025-03-02-42.log.gz
/run-data/logs/2025-03-02-43.log.gz
/run-data/logs/2025-03-02-44.log.gz
/run-data/logs/2025-03-02-45.log.gz
/run-data/logs/2025-03-02-46.log.gz
/run-data/logs/2025-03-02-47.log.gz
/run-data/logs/2025-03-03-2.log.gz
/run-data/logs/2025-03-03-3.log.gz
/run-data/logs/2025-03-03-4.log.gz
/run-data/logs/2025-03-03-5.log.gz
/run-data/logs/2025-03-03-6.log.gz
/run-data/logs/2025-03-03-7.log.gz
/run-data/logs/2025-03-03-8.log.gz
/run-data/logs/2025-03-03-9.log.gz
/run-data/logs/2025-03-03-10.log.gz
/run-data/logs/2025-03-03-11.log.gz
/run-data/logs/2025-03-14-2.log.gz
/run-data/logs/2025-03-14-3.log.gz
/run-data/logs/2025-03-14-4.log.gz
/run-data/logs/2025-03-14-5.log.gz
/run-data/logs/2025-03-14-6.log.gz
/run-data/logs/2025-03-14-7.log.gz
/run-data/logs/2025-03-14-8.log.gz
/run-data/logs/2025-03-14-9.log.gz
/run-data/logs/2025-03-14-10.log.gz
/run-data/logs/2025-03-14-11.log.gz
/run-data/logs/2025-03-15-2.log.gz
/run-data/logs/2025-03-15-3.log.gz
/run-data/logs/2025-03-15-4.log.gz
/run-data/logs/2025-03-17-2.log.gz
/run-data/logs/2025-03-19-2.log.gz
/run-data/logs/2025-03-19-3.log.gz
/run-data/logs/2025-03-19-4.log.gz
/run-data/logs/2025-03-19-5.log.gz
/run-data/logs/2025-03-19-6.log.gz
/run-data/logs/2025-03-19-7.log.gz
/run-data/logs/2025-03-19-8.log.gz
/run-data/logs/2025-03-19-9.log.gz
/run-data/logs/2025-03-19-10.log.gz
/run-data/logs/2025-03-23-2.log.gz
/run-data/logs/2025-03-23-3.log.gz
/run-data/logs/2025-03-23-4.log.gz
/run-data/logs/2025-03-24-1.log.gz
/run-data/logs/2025-03-24-2.log.gz
/run-data/logs/2025-03-24-3.log.gz
/run-data/logs/2025-03-24-4.log.gz
/run-data/logs/2025-03-24-5.log.gz
/run-data/logs/debug.log
/run-data/logs/debug-1.log.gz
/run-data/logs/debug-2.log.gz
/run-data/logs/debug-3.log.gz
/run-data/logs/debug-4.log.gz
/run-data/logs/debug-5.log.gz
/run-data/logs/latest.log
